div.red {
    width: 100px;
    height: 100px;
    background-color: #ff0000;
    transition:all 2s ease 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
}

div:hover {
    width: 1400px;
    font-size: 32px;
}